$baseColor: #398B93;

nb-layout-header {
  h1 {
    color: red;
  }
}


nb-card-body {
  display: block;

  p {
    font-weight: 600;
    font-size: 17px;
  }

  .container {
    display: flex;
    margin-top: 15px;

    .row {
      width: 100%;

    }

  }
}
