

  <!-- <nb-layout-header>
    <nb-actions size="medium">

      <nb-action icon="person-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
      <nb-action style="font-size: 20px;">Apoint </nb-action>

    </nb-actions>

  </nb-layout-header> -->

  <nb-layout-column>
    <nb-card class="inventory-card">
      <nb-card-header>
        <h3>Register Inventory
          <button nbButton status="default" style="float: right;">
            <nb-icon *ngIf="!isCard" (click)="toggleCard()" icon="arrow-ios-downward-outline"></nb-icon>
            <nb-icon *ngIf="isCard" (click)="toggleCard()" icon="arrow-ios-upward-outline"></nb-icon>
          </button>

        </h3>

      </nb-card-header>
      <nb-card-body *ngIf="isCard">
        <p>Name</p>
        <input nbInput type="text" placeholder="Please input name" fullWidth />
        <p>Description</p>
        <textarea nbInput fullWidth placeholder="Please input description"></textarea>

        <div class="container">
          <div class="row">
            <div class="col-md-1" style="margin-right: 10px;">
              <p>Type</p>
              <nb-select placeholder="Please select type" fullWidth [(selected)]="selectedItem">
                <nb-option value="0">None</nb-option>
                <nb-option value="1">Others</nb-option>
                <nb-option value="2">Point</nb-option>
                <nb-option value="3">Voucher/Coupon</nb-option>
                <nb-option value="4">Course</nb-option>
                <nb-option value="5">Ticket</nb-option>
              </nb-select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" style="margin-left: 10px">
              <p>Price</p>
              <input nbInput type="number" placeholder="Please input price" fullWidth />
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-1" style="margin-right: 10px;">
              <p>Total</p>
              <input nbInput type="number" placeholder="Please input total" fullWidth />
            </div>
          </div>
          <div class="row">
            <div class="col-md-1" style="margin-left: 10px">
              <p>Shipping</p>
              <input nbInput type="number" placeholder="Please input shipping" fullWidth />
            </div>
          </div>
        </div>
        <p>Sold</p>
        <input nbInput type="text" placeholder="Please input sold" fullWidth />
        <p>Images</p>
        <input nbInput type="text" placeholder="Please input url image" fullWidth />
      </nb-card-body>
      <nb-card-footer>
        <button class="btn-cancel" nbButton status="default" >
          Cancel
        </button>
        <button style="margin-left: 10px" class="btn-submit" nbButton status="default">
          Submit
        </button>
      </nb-card-footer>
    </nb-card>

  </nb-layout-column>
  <!-- <nb-layout-footer>Contact us</nb-layout-footer> -->

