<nb-layout center>

  <nb-layout-header>
    <nb-actions size="medium">

      <nb-action (click)="backInventoryList()" icon="arrow-ios-back-outline"></nb-action>
      <nb-action icon="home-outline"></nb-action>
      <nb-action style="font-size: 20px;">Aureole IT </nb-action>

    </nb-actions>
  </nb-layout-header>
  <nb-layout-column>
    <nb-card class="inventory-card">
      <nb-card-header>
        <h3 style="text-align: center;" *ngIf="id === ''">Register Inventory
          <button nbButton status="default" style="float: right;">
            <nb-icon *ngIf="!isCard" (click)="toggleCard()" icon="arrow-ios-downward-outline"></nb-icon>
            <nb-icon *ngIf="isCard" (click)="toggleCard()" icon="arrow-ios-upward-outline"></nb-icon>
          </button>

        </h3>
        <h3 style="text-align: center;" *ngIf="id != ''">Update Inventory
          <button nbButton status="default" style="float: right;">
            <nb-icon *ngIf="!isCard" (click)="toggleCard()" icon="arrow-ios-downward-outline"></nb-icon>
            <nb-icon *ngIf="isCard" (click)="toggleCard()" icon="arrow-ios-upward-outline"></nb-icon>
          </button>

        </h3>

      </nb-card-header>
      <nb-card-body *ngIf="isCard">
        <form [formGroup]="registerForm">
          <div class="container">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px;">
                <p>Name</p>
                <input nbInput type="text" placeholder="Please input name" fullWidth formControlName="name" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-1" style="margin-left: 10px;">
                <p>Description</p>
                <textarea nbInput fullWidth placeholder="Please input description"
                  formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px;">
                <p>Type</p>
                <nb-select placeholder="Please select type" formControlName="type" fullWidth
                  [selected]="registerForm.controls['type'].value ">
                  <nb-option value="01">Others</nb-option>
                  <nb-option value="02">Point</nb-option>
                  <nb-option value="03">Voucher/Coupon</nb-option>
                  <nb-option value="04">Course</nb-option>
                  <nb-option value="05">Ticket</nb-option>
                </nb-select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1" style="margin-left: 10px">
                <p>Price</p>
                <input nbInput type="number" placeholder="Please input price" fullWidth formControlName="price" />
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px;">
                <p>Active</p>
                <nb-checkbox status="basic" style="cursor: pointer;" formControlName="active_flag"
                  (checkedChange)="toggleActive(active_flag)"></nb-checkbox>
                <!-- <nb-select placeholder="Please select active" formControlName="active_flag" fullWidth
                [selected]="registerForm.controls['active_flag'].value ">
                  <nb-option [value]="true">Active</nb-option>
                  <nb-option [value]="false">Not active</nb-option>
                </nb-select> -->
              </div>
            </div>
            <div class="row">
              <div class="col-md-1" style="margin-left: 10px">
                <p>Approve</p>
                <nb-checkbox status="basic" style="cursor: pointer;" formControlName="is_approve"
                  (checkedChange)="toggleApprove(is_approve)"></nb-checkbox>
                <!-- <nb-select placeholder="Please select approve" formControlName="is_approve" fullWidth
                [selected]="registerForm.controls['is_approve'].value ">
                  <nb-option [value]="true">Approve</nb-option>
                  <nb-option [value]="false">Not approve</nb-option>
                </nb-select> -->
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px;">
                <p>Total</p>
                <input nbInput type="number" placeholder="Please input total" fullWidth formControlName="total" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-1" style="margin-left: 10px">
                <p>Shipping</p>
                <input nbInput type="number" placeholder="Please input shipping" fullWidth formControlName="shipping" />
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-1" style="margin-right: 10px;">
                <p>Sold</p>
                <input nbInput type="number" placeholder="Please input sold" fullWidth formControlName="sold" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-1" style="margin-left: 10px;">
                <p>Image</p>
                <input nbInput type="text" placeholder="Please input url image" fullWidth formControlName="image" />
              </div>
            </div>
          </div>
        </form>
      </nb-card-body>
      <nb-card-footer>
        <div style="float: right;">
          <button nbButton (click)="clearForm()" status="default">
            Clear
          </button>
          <button style="margin-left: 10px" class="btn-submit" *ngIf="id === ''" (click)="RegisterInventory()"
            [disabled]="!registerForm.valid" nbButton status="default">
            Save
          </button>
          <button style="margin-left: 10px" class="btn-submit" *ngIf="id != '' " (click)="updateRewardInventory()"
            nbButton status="default">
            Update
          </button>
        </div>
      </nb-card-footer>

    </nb-card>

  </nb-layout-column>


</nb-layout>
