
.countPosts{
    color: brown;
    background-color: red;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px 10px;
  }
  #customers tr:hover {background-color: #ddd;}


  #customers th {

    background-color: #FFF;
    color: black;
  }

.search-input{
  width: 100%;
}
.search-input-small {
  width: 100%;
}
